package tws

templ forceTW() {
	<section
		class="disabled:text-neutral-500/50 disabled:border-gray-200/60 disabled:bg-gray-200/20 disabled:hover:border-gray-200/10 disabled:hover:bg-gray-200/10"
	></section>
}
